<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" [routerLink]="['product']">Product</a>
    <a class="nav-item nav-link" [routerLink]="['contact']">Contact us</a>
    <a class="nav-item nav-link" [routerLink]="['login']">Login</a>
    <a class="nav-item nav-link" [routerLink]="['logout']" (click)="logout()"
      >Logout</a
    >
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
